.title {
    text-align: center;
    
    .hd-2 {
        margin-bottom: 20px;
    }
    
    .sub-title {
        font-size: 19px;
        color: #4d4d4d;
        line-height: 1.4;
        letter-spacing: 1px;
        word-spacing: 1px;
        margin: 0;
    }
}