.experience {
    @include background-gradient();
    color: #fff;
    padding-top: 105px;
    padding-bottom: 80px;

    .title {
        margin-bottom: 55px;
        .hd-2, .sub-title {
            color: #fff;
        }
    }

    .experience-item {
        display: flex;
        justify-content: space-between;
        padding: 45px 0;

        .heading {
            width: 28%;
            text-align: right;
            padding-right: 70px;
            position: relative;
            align-self: center;
            
            &:after {
                content: '';
                height: 62px;
                width: 14px;
                background-color: #dcdcde;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
            }

            .hd-3 {
                font-size: 26px;
                color: #fff;
                line-height: 1.4;
            }

            .sub-title {
                font-size: 26px;
                font-weight: 600;
                line-height: 1.6;
                margin: 0;
            }
        }

        .text {
            width: 70%;
            line-height: 2;
            letter-spacing: 1px;
            margin: 0;
            padding-left: 15px;
        }
    }
    
    .reverse {
        flex-direction: row-reverse;
        
        .heading {
            text-align: left;
            padding: 0 0 0 70px;
            
            &:after {
                left: 0;
            }
        }
        
        .text {
            text-align: right;
            padding: 0 15px 0 0;
        }
    }

}