.our-services {
    padding-top: 82px;
    padding-bottom: 68px;

    @media (max-width: $mq-tablet) {
        padding: 60px 0;
    }
    
    .content {
        margin-top: 32px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .service-box {
        width: 33%;
        text-align: center;
        padding: 40px 0;

        &:last-child {
            padding-bottom: 0;
        }

        @media (max-width: $mq-desktop) {
            width: 50%;
            padding: 20px 15px;
        }

        @media (max-width: $mq-tablet) {
            width: 100%;
        }
    }

    .hd-3 {
        margin-top: 27px;
        margin-bottom: 23px;
    }

    .service-text {
        line-height: 2;
        letter-spacing: 1px;
        word-spacing: 1px;
        margin: 0;
    }

    .icon {
        @include icon(114px, 114px, 43px);

        @media (max-width: $mq-tablet) {
            height: 90px;
            width: 90px;
        }

        @include background-gradient();
    }
}