.testimonials {
    background: url("../../asset/img/bg-testimonials.jpg") center no-repeat;
    background-size: cover;
    padding: 127px 0;

    .title {
        margin-bottom: 100px;
        .hd-2 {
            color: #fff;
            margin: 0;
        }
    }

    .reference {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: #fff;
        padding-left: 100px;

        .headline {
            width: 415px;
            display: flex;
            justify-content: space-between;
        }

        .ref-title {
            text-align: center;
            align-self: center;
        }

        .hd-3 {
            font-size: 36px;
            color: #fff;
        }

        .sub-title {
            color: #c714d5;
            font-weight: 600;
            margin: 9px 0 0 0;
            letter-spacing: 1px;
            word-spacing: 1px;
        }

        .reviewer {
            height: 141px;
            width: 141px;
            border: 10px solid #fff;
            border-radius: 50%;
            display: block;
        }

        .citation {
            width: 600px;
            line-height: 2;
            letter-spacing: 1px;
            text-align: right;
            margin: 0;
            padding: 0 60px;
            position: relative;

            .text {
                margin: 0;
            }

            .quote {
                height: 20px;
                width: 33px;
                background: url("../../asset/img/quote.png") center no-repeat;
                display: block;
                position: absolute;
                &.icon-1 {
                    top: -16px;
                    left: 0;
                }
                &.icon-2 {
                    bottom: -10px;
                    right: 0;
                    transform: rotate(180deg);
                }
            }

        }
    }
}